.filter-form {
  $spacing: 5px;

  &__box {
    min-width: 480px;
    width: 80vw;

    @media (max-width: $breakpoint-mobile) {
      min-width: initial;
      width: 100vw;
    }
  }

  &__hint {
    padding: 20px 20px 10px 20px;
  }

  &__tag-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -$spacing;
    padding: 10px 20px 25px 20px;
  }

  &__tag {
    line-height: 30px;
    @include theme-background-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);
    margin: 0 $spacing 10px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    user-select: none;

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--active {
      @include theme-background-color($color-primary, $color-primary-dark);
      @include theme-color($color-text-bright, $color-text-bright);

      .tick {
        opacity: 1;
      }
    }

    &:hover {
      @include theme-background-color($color-secondary, $color-secondary-dark);
      @include theme-color($color-text-bright, $color-text-bright);
    }
  }

  .svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: currentColor;
  }

  &__tag-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0 15px 0 10px;
    color: inherit;
  }
}
