.progress-box {
  &__box-content {
    padding: 15px 20px;
    margin-bottom: 40px;
  }

  &__message {
    margin-bottom: 15px;
  }

  &__progress {
    width: 100%;
    appearance: none;
    border: none;

    &::-webkit-progress-bar {
      @include theme-background-color($color-grey-70, $color-grey-30);
      border-radius: $default-border-radius;
    }

    &::-webkit-progress-value {
      @include theme-background-color($color-secondary, $color-secondary-bright);
      border-radius: $default-border-radius;
    }
  }
}
