.edit-image-tabs {
  position: relative;
  overflow-x: hidden;

  &__list {
    width: 400%;
    display: flex;
    transition: margin 300ms ease-in-out;
  }

  &__tab {
    flex: 25% 0 0;
    padding: 80px 20px 0 20px;
  }

  &__button {
    position: absolute;
    top: 0;
    width: calc(25% - 20px);
    margin: 20px 0 0 10px;
    background: $color-primary;
    @include theme-color($color-white, $color-text-bright);
    border: none;
    padding: 0 5px;
    height: 40px;
    cursor: pointer;

    &:hover {
      @include theme-background-color($color-secondary, $color-secondary-dark);
    }
  }

  &__tab--active &__button {
    @include theme-background-color($color-secondary, $color-secondary-dark);
  }

  &__tab:nth-child(1) &__button {
    left: 10px;
  }

  &__tab:nth-child(2) &__button {
    left: calc(25% + 3px);
  }

  &__tab:nth-child(3) &__button {
    left: calc(50% - 3px);
  }

  &__tab:nth-child(4) &__button {
    left: calc(75% - 10px);
  }

}
