.batch-buttons {
  display: flex;
  margin-bottom: 20px;

  &__action {
    color: $color-white;
    background: $color-grey-70;
    flex-grow: 0;
    margin-left: 5px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-radius: $default-border-radius;
    pointer-events: all;

    &:first-child {
      margin-left: 0;
    }

    button {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      width: inherit;
      line-height: inherit;
      cursor: pointer;
      display: block;
    }

    .svg {
      fill: $color-icon-tertiary;
    }

    &--disabled {
      button {
        cursor: default;
      }

      .svg {
        fill: $color-grey-60;
      }
    }

    &--enabled:hover {
      background: $color-tertiary;
    }


    // checkmark
    .tick {
      display: none;
    }

    &--has-unselected {
      .tick {
        display: block;
      }
    }
  }
}


