.batch-buttons {
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;

  &__bubble {
    position: absolute;
    bottom: -3px;
    right: -3px;
    height: 17px;
    font-size: 11px;
    line-height: 11px;
    padding: 3px 6px;
    border-radius: 9px;
    @include theme-background-color($color-button-bubble, $color-button-bubble);
    @include theme-color($color-white, $color-grey-70);
  }
}
