.rgbn-image {
  position: fixed;
  top: -100px;
  right: 160px;
  width: 160px;
  height: 144px;
  display: block;
  image-rendering: pixelated;
  @include theme-background-color($color-secondary, $color-primary);
  transition: top 300ms ease-in-out;
  z-index: $z-index-live-image;

  .gallery-image-buttons {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &:hover .gallery-image-buttons {
    display: block;
  }

  canvas {
    display: block;
    background: none;
    cursor: pointer;
  }

  &--has-tiles {
    top: 60px;
  }
}
