canvas.rgbn-image {
  position: fixed;
  top: 60px;
  right: 160px;
  width: 160px;
  height: 144px;
  display: block;
  image-rendering: pixelated;
  background: $color-secondary;
  transition: top 300ms ease-in-out;
  z-index: $z-index-live-image;
}
