.gallery {

  &--1x,
  &--2x,
  &--3x,
  &--4x {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -5px;
  }


  &--list {
    margin: 0;
    width: 100%;
    border-radius: $default-border-radius;
    overflow: hidden;
  }
}


