:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  font-family: sans-serif;
  color: #fff;
}

.box {
  width: 380px;
  padding: 24px 8px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 5px 10px 5px #222;
  text-align: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #aaf;
}

a:hover {
  color: white;
}

select,
textarea,
label,
div,
pre {
  width: 100%;
  text-align: left;
}

pre {
  overflow: auto;
  max-height: 50vh;
}

pre,
textarea,
button,
select {
  padding: 4px;
}

label {
  font-size: 12px;
}
