.gallery-list-image {
  background-color: $color-grey-50;
  border-bottom: 1px solid $page-background;

  &:last-child {
    border: none;
  }

  td {
    vertical-align: middle;
  }

  &__image {
    width: 60px;
    padding: 10px;
  }

  &__description {
    overflow: hidden;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: white;
    display: block;
  }

  &__created {
    font-size: 12px;
    line-height: 14px;
    color: $color-grey-80;
  }
}
