{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "ENV": true,
    "VERSION": true,
    "BRANCH": true
  },
  "rules": {
    // Airbnb overwrites
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "linebreak-style": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-indent": [
      2
    ],
    "react/jsx-indent-props": [
      2
    ],
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/no-array-index-key": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/interactive-supports-focus": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "eol-last": "warn",
    "no-alert": "warn",
    "no-loop-func": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "padded-blocks": "off",
    "no-prototype-builtins": "off",
    "no-restricted-syntax": "off",
    "max-len": [
      "warn",
      120,
      {
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "one-var": [
      "error",
      {
        "var": "never",
        "let": "never",
        "const": "never"
      }
    ],
    "one-var-declaration-per-line": "off",
    "comma-style": [
      "error",
      "last"
    ],
    "no-empty": "warn",
    "id-blacklist": [
      "error",
      "err",
      "e",
      "temp",
      "_temp",
      "foo",
      "_foo"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "no-unused-vars": "warn",
    "no-mixed-spaces-and-tabs": "error",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 2
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          [
            "+",
            "-",
            "*",
            "/",
            "%",
            "**"
          ],
          [
            "&",
            "|",
            "^",
            "~",
            "<<",
            ">>",
            ">>>"
          ],
          [
            "==",
            "!=",
            "===",
            "!==",
            ">",
            ">=",
            "<",
            "<="
          ],
          [
            "&&",
            "||"
          ],
          [
            "in",
            "instanceof"
          ]
        ],
        "allowSamePrecedence": true
      }
    ],
    "no-multi-spaces": "warn",
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "block", "next": "*" },
      { "blankLine": "always", "prev": "block-like", "next": "*" }
    ],
    "quotes": "warn",
    "operator-linebreak": [
      "error",
      "after"
    ],
    "no-trailing-spaces": "warn",
    "curly": [
      "error",
      "all"
    ],
    "object-curly-newline": [
      "warn",
      { "consistent":  true }
    ],
    "semi": [
      "warn",
      "always"
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": "off",
    "comma-spacing": "warn",
    "no-implicit-globals": "error",
    "no-undef": "error",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"
        ]
      }
    ],
    "no-restricted-globals": [
      "error",
      "addEventListener",
      "blur",
      "close",
      "closed",
      "clearInterval",
      "clearTimeout",
      "confirm",
      "defaultStatus",
      "event",
      "external",
      "defaultstatus",
      "fdescribe",
      "find",
      "focus",
      "frameElement",
      "frames",
      "getComputedStyle",
      "history",
      "innerHeight",
      "innerWidth",
      "length",
      "location",
      "locationbar",
      "menubar",
      "moveBy",
      "moveTo",
      "name",
      "onblur",
      "onerror",
      "onfocus",
      "onload",
      "onresize",
      "onunload",
      "open",
      "opener",
      "opera",
      "outerHeight",
      "outerWidth",
      "pageXOffset",
      "pageYOffset",
      "parent",
      "print",
      "removeEventListener",
      "resizeBy",
      "resizeTo",
      "requestAnimationFrame",
      "screen",
      "screenLeft",
      "screenTop",
      "screenX",
      "screenY",
      "scroll",
      "scrollbars",
      "scrollBy",
      "scrollTo",
      "scrollX",
      "scrollY",
      "self",
      "setInterval",
      "setTimeout",
      "status",
      "statusbar",
      "stop",
      "toolbar",
      "top"
    ]
  }
}
