node_modules/
coverage/
dist/
releases/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.idea
config.json
dumps/*
!dumps/.gitkeep
.DS_Store
*.iml

# generated
/packages/gb-printer-web/public/fav

# next.js
/packages/gb-printer-web/.next/
/packages/gb-printer-web/out/

# database
/packages/gb-items-db/database

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
