node_modules/
coverage/
dist/
releases/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.idea
config.json
dumps/*
!dumps/.gitkeep
.DS_Store
*.iml

# next.js
/.next/
/out/
/o/

# production
/build

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
