.gallery-image {
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 144px;
    @include theme-background-color(rgba($color-grey-40, 0.5), rgba($color-grey-30, 0.5));
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      z-index: $z-index-hover-image;
      overflow: visible;
    }
  }

  &__title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: block;
    @include theme-color($color-white, $color-grey-60);
    overflow-wrap: anywhere;
  }

  &__created {
    flex: auto 1 1;
    align-self: flex-end;
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    @include theme-color($color-grey-80, $color-grey-40);
  }

  //.rgbn-select,
  .gallery-image-buttons {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    z-index: $z-index-gallery-image-buttons;

    body.no-touch & {
      display: none;
    }
  }

  //&:hover .rgbn-select,
  body.no-touch &:hover .gallery-image-buttons {
    display: grid;
  }

  // easy way for a parent with justify-content: space-between; to still align last row left.
  .gallery &--dummy {
    cursor: default;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    @include theme-background-color(transparent, transparent);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -3px 0 -3px;
    flex-grow: 1;
    align-content: flex-start;
  }

  &__tag {
    height: 18px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 3px 4px 3px;
    padding: 2px 8px;
    @include theme-background-color($color-secondary, $color-secondary);
    @include theme-color($color-text-bright, $color-black);
    overflow: hidden;
  }

  &__created-meta {
    display: flex;
    justify-content: space-between;
  }

  &__meta {
    padding-top: 10px;
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    @include theme-color($color-grey-80, $color-grey-40);

    .svg--meta {
      color: inherit;
      fill: currentcolor;
      width: 20px;
      height: 20px;
    }
  }

  &__meta-pre {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    @include theme-background-color($color-grey-30, $color-grey-50);
    @include theme-color($color-text-bright, $color-black);
    border-radius: $default-border-radius;
    border: 1px solid;
    min-width: 100%;
    padding: 8px;
    white-space: pre;
    font-family: monospace;
    overflow: auto;
    z-index: $z-index-content;
    font-size: 11px;
    line-height: 14px;
  }

  &__meta:hover + &__meta-pre,
  &__meta-pre:hover {
    z-index: $z-index-hover-image;
    display: block;
  }

}
