.gallery-image {
  flex-shrink: 0;
  width: 0;
  max-width: 80vw; // ToDo: add real breakpoints for different gallery-size option
  padding: 10px;
  margin: 0 5px 10px;
  position: relative;
  border-radius: $default-border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;

  .gallery--1x & {
    width: 160px;
  }

  .gallery--2x & {
    width: 320px;
  }

  .gallery--3x & {
    width: 480px;
  }

  .gallery--4x & {
    width: 100%;
  }

  &__image {
    display: block;
    min-height: 144px;
    @include theme-background-color(rgba($color-grey-40, 0.5), rgba($color-grey-30, 0.5));
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: block;
    @include theme-color($color-white, $color-grey-60);
  }

  &__created {
    padding: 10px 0 0 0;
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    @include theme-color($color-grey-80, $color-grey-40);
  }

  //.rgbn-select,
  .gallery-image-buttons {
    position: absolute;
    left: -5px;
    height: auto;

    body.no-touch & {
      display: none;
    }
  }

  .gallery-image-buttons {
    top: 5px;
  }

  //.rgbn-select {
  //  bottom: 0;
  //}

  //&:hover .rgbn-select,
  body.no-touch &:hover .gallery-image-buttons {
    display: block;
  }

  // easy way for a parent with justify-content: space-between; to still align last row left.
  .gallery &--dummy {
    cursor: default;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    @include theme-background-color(transparent, transparent);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -3px 0 -3px;
  }

  &__tag {
    height: 18px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 14px;
    margin: 0 3px 4px 3px;
    padding: 2px 8px;
    @include theme-background-color($color-secondary, $color-secondary);
    @include theme-color($color-text-bright, $color-black);
    overflow: hidden;
  }
}
