$block: #{'.gallery-list-image'};

#{$block} {
  border-bottom: 1px solid;
  @include theme-border-color($color-page-background, $color-page-background-dark);

  &:last-child {
    border: none;
  }

  td {
    vertical-align: middle;

    &:first-child {
      padding-left: 10px;
    }
  }

  &__cell-image {
    padding: 0 5px 0 10px;
    width: 60px;
  }

  &__cell-description {
    padding: 0 5px;
    min-width: 120px; // leave enough space for hover-zoom
  }

  &__cell-rgbn {
    width: 140px;
    height: 40px;
    padding: 0;
  }

  &__cell-buttons {
    width: 120px;
    height: 40px;
    padding: 0;
  }

  &__image {
    display: block;
    width: 40px;
    margin: 10px 0;
    min-height: 36px;
    @include theme-background-color(rgba($color-grey-40, 0.5), rgba($color-grey-30, 0.5));
    border: none;
    padding: 0;
    pointer-events: none;
    position: relative;

    &--scale {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      min-height: inherit;
      transition:
        width ease-in-out 150ms,
        left ease-in-out 150ms,
        top ease-in-out 150ms;

      #{$block}:hover & {
        @media (min-width: $breakpoint-mobile) {
          width: 160px;
          left: 25px;
          top: -54px;
          z-index: 1;
        }

        @media (min-width: 950px) {
          left: 50px;
        }
      }
    }
  }

  &__description {
    overflow: hidden;
    text-align: left;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    @include theme-color($color-white, $color-grey-70);
    display: block;
  }

  &__created {
    font-size: 12px;
    line-height: 14px;
    @include theme-color($color-grey-80, $color-grey-50);
  }
}
