$block: #{'.gallery-list-image'};

#{$block} {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid;
  @include theme-border-color($color-page-background, $color-page-background-dark);

  &__cell {
    vertical-align: middle;
    padding: 0;
  }

  &__cell-image {
    flex: 60px 0 0;
    padding-left: 10px;
  }

  &__cell-description {
    flex: 120px 1 1;
  }

  &__cell-rgbn {
    flex: 140px 0 0;
    height: 40px;
  }

  &__cell-buttons {
    flex: 120px 0 0;
    height: 40px;
  }

  &__cell-tags {
    flex: 120px 10 0;

    .gallery-image__tags {
      justify-content: end;
    }

    @media (max-width: $breakpoint-tags-in-list) {
      display: none;
    }
  }

  &__image {
    display: block;
    width: 40px;
    margin: 10px 0;
    min-height: 36px;
    @include theme-background-color(rgba($color-grey-40, 0.5), rgba($color-grey-30, 0.5));
    border: none;
    padding: 0;
    pointer-events: none;
    position: relative;

    &--scale {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      min-height: inherit;
      max-height: 36px;
      overflow: hidden;
      transition:
        width ease-in-out 150ms,
        left ease-in-out 150ms,
        top ease-in-out 150ms,
        max-height ease-in-out 150ms;


      #{$block}:hover & {
        @media (min-width: $breakpoint-mobile) {
          max-height: 10000px;
          width: 160px;
          left: 25px;
          top: -54px;
          z-index: 1;
        }

        @media (min-width: 950px) {
          left: 50px;
        }
      }
    }
  }

  &__description {
    overflow: hidden;
    text-align: left;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    @include theme-color($color-white, $color-grey-70);
    display: block;
    overflow-wrap: anywhere;
  }

  &__created {
    font-size: 12px;
    line-height: 14px;
    @include theme-color($color-grey-80, $color-grey-50);
  }
}
