.gallery-image,
.gallery-list-image {
  @include theme-background-color($color-grey-50, $color-grey-20);
  cursor: pointer;
  user-select: none;

  &:hover{
    background-color: $color-grey-60;
  }

  &--selected {
    background-color: $color-selected-image;

    &:hover {
      background-color: $color-selected-image-hover;
    }
  }
}

@import './gallery-image';
@import './gallery-list-image';
