.gallery-image,
.gallery-list-image {
  background-color: $color-grey-50;
  cursor: pointer;

  &:hover{
    background-color: $color-grey-60;
  }

  &--selected {
    background-color: $color-selected-image;

    &:hover {
      background-color: $color-selected-image-hover;
    }
  }

}


.gallery-image {
  flex-shrink: 0;
  width: 0;
  max-width: 80vw; // ToDo: add real breakpoints for different gallery-size option
  margin: 0 5px 10px;
  position: relative;
  border-radius: $default-border-radius;
  padding: 10px 10px 30px 10px;
  box-sizing: content-box;

  .gallery--1x & {
    width: 160px;
  }

  .gallery--2x & {
    width: 320px;
  }

  .gallery--3x & {
    width: 480px;
  }

  .gallery--4x & {
    width: 540px;
  }

  &__image {
    display: block;
    min-height: 144px;
    background-color: $color-grey-40;
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: block;
    color: white;
  }

  &__created {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    line-height: 14px;
    color: $color-grey-80;
  }

  .gallery-image-buttons {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    height: auto;
  }

  &:hover .gallery-image-buttons {
    display: block;
  }

  // easy way for a parent with justify-content: space-between; to still align last row left.
  .gallery &--dummy {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    //width: 1px;
    //flex-grow: 2;
  }
}

.gallery-list-image {
  border-bottom: 1px solid $page-background;

  &:last-child {
    border: none;
  }

  td {
    vertical-align: middle;

    &:first-child {
      padding-left: 10px;
    }
  }

  &__cell-image {
    padding: 0 5px 0 10px;
    width: 60px;
  }

  &__cell-index {
    width: 30px;
    padding: 0 5px;
  }

  &__index {
    color: $color-grey-80;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
  }

  &__cell-description {
    padding: 0 5px;
  }

  &__cell-rgbn {
    width: 140px;
    height: 40px;
    padding: 0;
  }

  &__cell-buttons {
    width: 120px;
    height: 40px;
    padding: 0;
  }

  &__image {
    display: block;
    width: 40px;
    margin: 10px 0;
    min-height: 36px;
    background-color: $color-grey-40;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__description {
    overflow: hidden;
    text-align: left;
  }

  &__title {
    font-size: 14px;
    line-height: 16px;
    color: white;
    display: block;
  }

  &__created {
    font-size: 12px;
    line-height: 14px;
    color: $color-grey-80;
  }
}
