.gallery-image {
  flex-shrink: 0;
  width: 160px;
  margin: 10px;
  position: relative;

  &__download {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background: $color-grey-85;
  }

  &:hover &__download {
    display: block;
  }
}


