.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--sticky {
    position: sticky;
    top: 60px;
    z-index: $z-index-gallery-header-sticky;
    @include theme-background-color($color-page-background, $color-page-background-dark);
    padding-top: 15px;
    padding-bottom: 0;
  }

  &--bottom {
    @media (max-height: 900px) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-3-cols) {
    flex-direction: column;
  }
}
