.rgbn-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;

  &__button {
    width: 20px;
    height: 20px;
    border: none;
    padding: 0 ;
    cursor: pointer;
    fill: currentColor;
    border-radius: 50%;
    @include theme-background-color($color-grey-10, $color-black);
    transition: transform 150ms ease-in-out, background-color 150ms linear;
    outline: none;

    svg {
      transition: opacity 150ms ease-in-out;
      opacity: 0.2;
    }


    &--red {
      @include theme-color($color-strong-red, rgba($color-strong-red, 0.7));
    }
    &--green {
      @include theme-color($color-strong-green, rgba($color-strong-green, 0.7));
    }
    &--blue {
      @include theme-color($color-strong-blue, rgba($color-strong-blue, 0.7));
    }
    &--normal {
      @include theme-color($color-black, rgba($color-black, 0.7));
    }

    &--selected,
    &:hover {
      @include theme-background-color($color-grey-90, $color-grey-50);

      svg {
        opacity: 1;
      }
    }

    &:hover {
      transform: scale(1.2);
    }

    &--selected:hover {
      transform: scale(1.4);
    }
  }
}
