.rgbn-select {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  padding: 0 10px;

  &__button {
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 5px;
    padding: 0 ;
    cursor: pointer;
    fill: currentColor;
    border-radius: 50%;
    background-color: $color-grey-10;
    transition: transform 150ms ease-in-out, background-color 150ms linear;

    svg {
      transition: opacity 150ms ease-in-out;
      opacity: 0.2;
    }


    &--red {
      color: #ff0000;
    }
    &--green {
      color: #00ff00;
    }
    &--blue {
      color: #0000ff;
    }
    &--normal {
      color: #000000;
    }

    &--selected,
    &:hover {
      background-color: $color-grey-90;

      svg {
        opacity: 1;
      }
    }

    &:hover {
      transform: scale(1.2);
    }

    &--selected:hover {
      transform: scale(1.4);
    }
  }
}
