.live-image {
  display: block;
  width: 160px;
  min-height: 144px;
  @include theme-background-color($color-secondary, $color-primary);
  position: fixed;
  top: -100px;
  right: 0;
  transition: top 300ms ease-in-out;
  z-index: $z-index-live-image;

  &--receiving {
    top: 60px;
  }
}
