html {
  @supports (scrollbar-width: auto) {
    --scrollbar-color: #{$color-grey-30};
    --scrollbar-track-color: #{$color-grey-20};

    &.theme-bright {
      --scrollbar-color: #{$color-grey-70};
      --scrollbar-track-color: #{$color-grey-80};
    }

    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;

  line-height: 1.3em;
  @include theme-background-color($color-page-background, $color-page-background-dark);
  @include theme-color($color-text, $color-text-bright);
  min-width: 340px;
  overflow-y: scroll;

  &.has-overlay {
    position: fixed;
    width: 100vw;
  }
}

pre {
  font-family: monospace;
  font-size: 14px;
  height: auto;
  overflow-y: scroll;
  display: block;
  flex-grow: 1;
}

.init-error {
  margin: 60px;
  padding: 20px 30px;
  border: 8px solid;
  overflow-x: auto;
  @include theme-border-color($color-primary, $color-secondary);
  @include theme-background-color($color-grey-30, $color-grey-70);
  @include theme-color($color-text-bright, $color-text);

  @media (max-width: $layout-width-3-cols) {
    margin: 60px 10px;
    padding: 20px 10px;
  }

  small {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
    white-space: pre;
  }
}
