html {
  @supports (scrollbar-width: auto) {
    --scrollbar-color: #4c4c4c;
    --scrollbar-track-color: #333333;

    &.theme-bright {
      --scrollbar-color: #b2b2b2;
      --scrollbar-track-color: #cccccc;
    }

    scrollbar-gutter: stable;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;

  line-height: 1.3em;
  min-width: 340px;
  overflow-y: scroll;

  &.has-overlay {
    position: fixed;
    width: 100vw;
  }
}

pre {
  font-family: monospace;
  font-size: 14px;
  height: auto;
  overflow-y: scroll;
  display: block;
  flex-grow: 1;
}

.init-error {
  margin: 60px;
  padding: 20px 30px;
  border: 8px solid;
  overflow-x: auto;

  border-color: #292037;
  background-color: #4c4c4c;
  color: #b2b2b2;

  html.theme-dark & {
    border-color: #455c63;
    background-color: #b2b2b2;
    color: #333333;
  }

  @media (max-width: $layout-width-3-cols) {
    margin: 60px 10px;
    padding: 20px 10px;
  }

  small {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
    white-space: pre;
  }
}
