.buttongroup {
  flex-wrap: wrap;
  margin: 0 0 0 -20px;

  &__button {
    flex: 200px 1 0;
    margin: 5px 10px 30px 5px;
  }
}

.button {
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 5px 0 5px 20px;
  min-height: 40px;
  @include theme-color($color-text-bright, $color-text);
  @include theme-background-color($color-primary, $color-primary-bright);
  fill: currentColor;
  border: none;
  cursor: pointer;

  &:hover {
    @include theme-background-color($color-secondary, $color-secondary-bright);
  }

  &:disabled {
    @include theme-color($color-grey-60, $color-grey-40);
    @include theme-background-color($color-grey-70, $color-grey-30);
    cursor: default;
  }

  &--label {
    flex-grow: 0;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  }

  &--tiny {
    flex-basis: 120px;
    flex-grow: 0;
  }
}
