.contenttabs {
  &__tabs {
    display: flex;
    flex-wrap: nowrap;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__tab {
    flex-grow: 1;
    padding-right: 2px;

    @media (max-width: $breakpoint-mobile) {
      padding-right: 0;
      padding-bottom: 2px;
    }

    &:last-child {
      padding: 0;
    }
  }

  &__tabs-button {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    white-space: nowrap;

    &--active {
      @include theme-background-color($color-secondary, $color-secondary-bright);
      @include theme-color($color-white, $color-white);
    }

    @media (max-width: $breakpoint-mobile) {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 14px;
    }
  }
}
