.gameboy-image {
  &__image {
    width: 100%;
    display: block;
    image-rendering: pixelated;

    &--as-thumb,
    .gallery--list & {
      image-rendering: auto;
    }
  }

  &--rot-90 &__image--min-size,
  &--rot-270 &__image--min-size {
    margin: 0 5%;
    width: 90%;
  }
}
