.gameboy-image {
  &__image {
    width: 100%;
    display: block;
    image-rendering: pixelated;

    &--as-thumb {
      image-rendering: auto;
    }
  }

  &--rot-90 &__image--min-size,
  &--rot-270 &__image--min-size {
    margin: 0 5%;
    width: 90%;
    // 90% of 160px is exactly 144 :)
  }

  &__error {
    font-size: 10px;
    line-height: 12px;
    padding: 4px 8px;
  }
}
