.edit-frame {
  &__header {
    @include theme-color($color-text, $color-text-bright);
    display: block;
    padding: 15px 20px 10px;
  }

  &__header-edit {
    color: inherit;
    border: none;
    width: 100%;
    font-size: 18px;
    background: none;
    padding-left: 25px;
  }

  &__content {
    padding: 0 15px;
  }

  .inputgroup__label {
    flex-shrink: 0;

    & + * {
      width: calc(70% - 1.25rem);
    }
  }

  &__warning {
    @include theme-color($color-warn-red, $color-warn-red);
  }
}
