.color-slider {
  padding: 15px 0;
  display: flex;

  &__button {
    border: none;
    @include theme-background-color($color-grey-90, $color-grey-30);
    @include theme-color($color-tertiary, $color-tertiary-bright);
    fill: currentColor;
    border-radius: $default-border-radius-small;
    width: 20px;
    flex: 20px 0 0;
    padding: 0;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      @include theme-background-color($color-tertiary, $color-tertiary-dark);
      @include theme-color($color-grey-90, $color-icon-tertiary);
    }
  }

  &__root {
    position: relative;
    width: 100%;
    margin: 0 20px;
  }

  &__rail {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 32px;
    transform: translate(0%, -50%);
    border: none;
    background: none;
    padding: 0;
  }

  &__rail-inner {
    position: absolute;
    width: calc(100% + 10px);
    height: 10px;
    transform: translate(-5px, -50%);
    border-radius: $default-border-radius;
    pointer-events: none;

    [data-color=r] & { background-image: linear-gradient(to right, $color-black 0%, $color-strong-red 100%); }
    [data-color=g] & { background-image: linear-gradient(to right, $color-black 0%, $color-strong-green 100%); }
    [data-color=b] & { background-image: linear-gradient(to right, $color-black 0%, $color-strong-blue 100%); }
    [data-color=n] & { background-image: linear-gradient(to right, $color-black 0%, $color-white 100%); }
  }

  &__handle {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    @include theme-box-shadow($color-grey-40, $color-grey-60, 0 0 3px 1px);

    [data-color=r] & {
      @include theme-background-color($color-strong-red, $color-strong-red);
    }

    [data-color=g] & {
      @include theme-background-color($color-strong-green, $color-strong-green);
    }

    [data-color=b] & {
      @include theme-background-color($color-strong-blue, $color-strong-blue);
    }

    [data-color=n] & {
      @include theme-background-color($color-black, $color-black);
    }

    &:hover {
      @include theme-background-color($color-grey-70, $color-grey-40);
    }
  }
}
