.confirm {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 10px;
  }

  &__check-label {
    display: flex;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0;
    user-select: none;

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: currentColor;
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox {
    display: none;
  }
}
