.confirm {
  .inputgroup {
    margin: 20px;
    flex-direction: column;
    align-items: stretch;

    &__label {
      margin-bottom: 10px;
    }

    &__input--select {
      margin-left: 0;
    }
  }
}
