.confirmation {
  position: fixed;
  top: 0;
  left: 0;

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color-tertiary, 0.3);
  }

  &__box {
    position: absolute;
    top: 100px;
    left: calc(50vw - 200px);
    width: 400px;
    background: $page-background;
    border-radius: $default-border-radius;
    color: $color-text;
    overflow: hidden;
  }

  &__message {
    font-size: 18px;
    margin-bottom: 15px;
    padding: 15px 20px;
    color: $color-white;
    background-color: $color-tertiary;
  }
}
