.tags-select {
  $spacing: 5px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -$spacing;

  &__tag {
    line-height: 16px;
    @include theme-background-color($color-grey-70, $color-grey-20);
    @include theme-color($color-black, $color-text-bright);
    margin: 0 $spacing 10px;
    padding: 5px 15px 5px 55px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    user-select: none;

    &--input {
      padding: 5px 15px;
    }
  }

  &__tag--input &__tag-name {
    border: none;
    outline: none;
    @include theme-background-color($color-grey-80, $color-grey-30);
    @include theme-color($color-black, $color-text-bright);
    width: 100px;
    border-radius: $default-border-radius-small;
  }

  &__tag--add {
    @include theme-background-color($color-tag-change-green, $color-tag-change-green-dark);
  }

  &__tag--remove {
    @include theme-background-color($color-tag-change-red, $color-tag-change-red-dark);
  }

  &__button {
    position: absolute;
    top: 3px;
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    @include theme-color($color-white, $color-white);
    opacity: 0.7;
    outline: none;

    &:hover {
      opacity: 1;
    }
  }

  &__button--add {
    left: 3px;
    @include theme-background-color($color-button-green, $color-button-green-dark);
  }

  &__button--remove {
    left: 28px;
    @include theme-background-color($color-button-red, $color-button-red-dark);
  }

  &__tag-name {
    display: block;
    height: 20px;
    line-height: 20px;

  }
}
