.import-preview-image {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;

  &__canvas {
    flex: 160px 0 0;
    border: 2px solid;
    @include theme-border-color($color-tertiary, $color-tertiary);
  }

  &__arrow {
    flex: 20px 1 1;
    @include theme-color($color-grey-80, $color-grey-80);
    fill: currentcolor;
  }

  &__info {
    flex: 100% 0 0;
  }
}
