.sync-select {

  &__list  {
    width: 100%;
    padding: 0 15px;
  }

  &__option {
    width: 100%;
    margin-bottom: 5px;
  }

  &__button {
    display: flex;
    width: 100%;
    height: inherit;
    margin: 0;
    justify-content: space-between;
    padding: 5px 20px;

    .svg {
      flex-basis: 40px;
    }
  }

  &__button-label {
    flex: auto 0 1;
    display: block;
    height: 100%;
    line-height: 40px;
  }

}
