$page-background: #d6d3dc;

$color-black: #000000;
$color-grey-10: #1a1a1a;
$color-grey-20: #333333;
$color-grey-30: #4c4c4c;
$color-grey-40: #666666;
$color-grey-50: #7f7f7f;
$color-grey-60: #999999;
$color-grey-70: #b2b2b2;
$color-grey-80: #cccccc;
$color-grey-90: #e5e5e5;
$color-white: #ffffff;

$color-text: #363132;
$color-text-bright: #a8b8b8;
$color-primary: #292037;
$color-secondary: #455c63;
$color-tertiary: #4a6959;

$color-selected-image: #6d8272;
$color-selected-image-hover: #93b09b;

$color-icon-tertiary: #6d9b83;

$color-button-green: #3f9e7c;
$color-button-red: #9e3232;

$color-warn-red: #cb0003;

$color-strong-red: #ff0000;
$color-strong-green: #00ff00;
$color-strong-blue: #0000ff;

// Sort by index
$z-index-live-image: 1;
$z-index-navigation: 2;
$z-index-overlay: 3;
$z-index-overlay-content: 4;

$default-border-radius: 5px;
$default-border-radius-small: 2px;
