.temp {
  &__h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__items {
    margin-bottom: 40px;
  }

  &__item {
    display: flex;

    span {
      padding-right: 20px;
    }

    code {
      font-family: monospace;
    }

    small {
      font-size: 12px;
    }
  }

  &__item-label {
    flex-grow: 1;
    margin-left: 356px;
  }

  &__button {
    flex-grow: 0;
    flex-basis: 40px;
    width: 40px;
    height: 40px;
  }

}
