.navigation {
  @include theme-background-color($color-primary, $color-primary);
  @include theme-box-shadow(rgba($color-grey-20, 0.7), rgba($color-black, 0.7), 0 -6px 6px 6px);
  position: fixed;
  min-height: 60px;
  width: 100%;
  z-index: $z-index-navigation;

  &__burger-button {
    display: none;

    @media (max-width: $breakpoint-mobile) {
      display: block;
      width: 60px;
      height: 60px;
      background: none;
      border: none;
      cursor: pointer;
      @include theme-color($color-text-bright, $color-text-bright);
      fill: currentColor;
      padding: 10px;

      &:focus {
        outline: none;
      }

      &:hover {
        @include theme-background-color($color-secondary, $color-secondary);
      }
    }
  }

  &__list {
    width: 100%;
    display: flex;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      display: none;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    &--mobile-open &__list {
      display: block;
    }
  }

  &__entry {
    position: relative;
    fill: currentColor;
    display: block;

    &--buttons {
      display: flex;

      > * {
        flex: auto 1 1;
        text-align: left;
        outline: none;
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    &--right {
      margin-left: auto;
    }

    &--right + &--right {
      margin-left: 0;
    }
  }

  &__queuesize {
    padding: 20px;
    line-height: 20px;
    @include theme-color($color-strong-red, $color-strong-red);
    position: absolute;
    right: 0;
    top: 0;
  }

  &__entry:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 1px;
    right: 0;
    top: 10px;
    @include theme-background-color(rgba($color-white, 0.15), rgba($color-white, 0.15));

    @media (max-width: $breakpoint-mobile) {
      height: 1px;
      width: 100vw;
      right: unset;
      top: 0;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 20px;
    line-height: 20px;
    @include theme-color($color-text-bright, $color-text-bright);

    // For buttons in navi
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
    fill: currentColor;

    &--active,
    &:hover:not(:disabled) {
      @include theme-background-color($color-secondary, $color-secondary);
      @include theme-color($color-text-bright, $color-text-bright);
      cursor: pointer;
    }

    &:disabled {
      @include theme-color($color-grey-50, $color-grey-50);
      opacity: 0.5;
    }

    &--icon {
      width: 60px;
      height: 60px;
      padding: 14px;
    }
  }
}
