.navigation {
  background-color: $color-primary;
  box-shadow: 0 -6px 6px 6px rgba($color-black, 0.7);
  position: fixed;
  min-height: 60px;
  width: 100vw;
  z-index: $z-index-navigation;

  &__burger-button {
    display: none;

    @media (max-width: $breakpoint-mobile) {
      display: block;
      width: 60px;
      height: 60px;
      background: none;
      border: none;
      cursor: pointer;
      fill: $color-text-bright;
      padding: 10px;

      &:focus {
        outline: none;
      }

      &:hover {
        background: $color-secondary;
      }
    }
  }

  &__list {
    width: 100vw;
    display: flex;

    @media (max-width: $breakpoint-mobile) {
      flex-direction: column;
      display: none;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    &--mobile-open &__list {
      display: block;
    }
  }

  &__entry{
    position: relative;
    fill: $color-text-bright;
    display: block;

    &--buttons {
      display: flex;

      > * {
        flex: auto 1 1;
        text-align: left;
        outline: none;
        padding-right: 8px;
        padding-left: 8px;
      }
    }
  }

  &__queuesize {
    padding: 20px;
    line-height: 20px;
    color: red;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__entry:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 1px;
    right: 0;
    top: 10px;
    background-color: rgba($color-white, 0.15);

    @media (max-width: $breakpoint-mobile) {
      height: 1px;
      width: 100vw;
      right: unset;
      top: 0;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 20px;
    line-height: 20px;
    color: $color-text-bright;

    // For buttons in navi
    background: none;
    font-family: inherit;
    font-size: inherit;
    border: none;

    &--active,
    &:hover:not(:disabled) {
      background-color: $color-secondary;
      color: $color-text-bright;
      cursor: pointer;
    }

    &:disabled {
      color: $color-grey-50;
      opacity: 0.5;
    }

    &--icon {
      width: 60px;
      height: 60px;
      padding: 14px;
    }
  }

  &__progress {
    position: absolute;
    height: 6px;
    pointer-events: none;
    background: $color-secondary;
    bottom: 0;
    left: 0;
    transition: width 500ms ease-in-out;
  }
}
