.usb-greeting {
  margin-top: 40px;

  &--supported {
    @include theme-color($color-button-green-dark, $color-button-green);
  }

  a {
    @include theme-color($color-secondary, $color-secondary-bright);
  }

  p {
    margin-bottom: 10px;
  }

  strong {
    @include theme-color($color-primary, $color-primary-bright);
    font-style: italic
  }
}
