.inputgroup {
  display: flex;
  min-height: 40px;
  @include theme-color($color-text, $color-text-bright);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__input {
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid;
    @include theme-background-color($color-white, $color-black);
    @include theme-border-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);

    &--select {
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.3;
    }

    &--password {
      margin-right: 4px;
    }

    &--color {
      height: 90px;
      cursor: pointer;
      margin-bottom: -25px;
      padding: 0;

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      &::-webkit-color-swatch {
        border: none;
      }
    }

  }

  &--column {
    flex-direction: column;

    .button {
      height: 40px;
      width: 80px;
      align-self: flex-end;
      line-height: 40px;
      flex-basis: 40px;
      margin: 0;
    }
  }

  @media (max-width: 740px) {
    flex-wrap: wrap;
    margin-left: -20px;
  }

  &__label {
    flex-basis: 30%;
    flex-grow: 0;

    @media (max-width: 740px) {
      flex-basis: 100%;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }

  &__label-check {
    cursor: pointer;
    @include theme-background-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);
    flex-grow: 1;
    margin-left: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: $default-border-radius;
    user-select: none;

    &:hover,
    &--selected {
      @include theme-background-color($color-tertiary, $color-tertiary-bright);
      @include theme-color($color-text-bright, $color-text);
    }

    input {
      display: none;
    }

    @media (max-width: 740px) {
      flex-basis: 20%;
      margin-bottom: 10px;
    }
  }

  &__inputgroup--column &__button {
    height: 40px;
    width: 80px;
    align-self: flex-end;
    line-height: 40px;
    flex-basis: 40px;
    margin: 0;
  }

  &--column &__label {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
  }

  &__note {
    padding-left: 10px;
    font-size: 12px;

    &--warn {
      @include theme-color($color-warn-red, $color-warn-red);
    }
  }
}
