.inputgroup {
  display: flex;
  min-height: 40px;
  @include theme-color($color-text, $color-text-bright);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__input {
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid;
    min-height: inherit;

    @include theme-background-color($color-white, $color-black);
    @include theme-border-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);

    &--select {
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &__button {
    flex-basis: auto;
    align-self: flex-end;
    padding: 1px 20px;
    border: none;
    min-height: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    fill: currentColor;
    @include theme-color($color-black, $color-grey-90);

    &:hover {
      @include theme-color($color-secondary, $color-secondary-bright);
    }

    .svg {
      height: auto;
      width: auto;
      fill: currentColor;
      margin: 3px;
    }

    &--add,
    &--show-password,
    &--delete {
      width: 40px;
      flex: 40px 0 0;
      margin: 0;
      padding: 0;
      margin-left: 4px;
    }
  }

  &--color &__input {

    &[type=color] {
      cursor: pointer;
      padding: 0;
    }

    &--colortext {
      width: 100px;
      text-align: center;
      font-family: monospace;
      flex-shrink: 1;
      flex-grow: 0;
      margin-left: -1px;
    }

    &--invalid-color {
      @include theme-background-color($color-button-red, $color-button-red-dark);
      @include theme-color($color-white, $color-tag-change-red);
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  &--file &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    top: -10px;
    left: 0;
  }

  &--column {
    flex-direction: column;

    .button {
      height: 40px;
      width: 80px;
      align-self: flex-end;
      line-height: 40px;
      flex-basis: 40px;
      margin: 0;
    }
  }

  @media (max-width: 740px) {
    flex-wrap: wrap;
    margin-left: -20px;
  }

  &__label {
    flex-basis: 30%;
    flex-grow: 0;

    @media (max-width: 740px) {
      flex-basis: 100%;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }

  &__label-check {
    cursor: pointer;
    @include theme-background-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);
    flex-grow: 1;
    margin-left: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: $default-border-radius;
    user-select: none;

    &:hover,
    &--selected {
      @include theme-background-color($color-tertiary, $color-tertiary-bright);
      @include theme-color($color-text-bright, $color-text);
    }

    input {
      display: none;
    }

    @media (max-width: 740px) {
      flex-basis: 20%;
      margin-bottom: 10px;
    }
  }

  &__inputgroup--column &__button {
    height: 40px;
    width: 80px;
    align-self: flex-end;
    line-height: 40px;
    flex-basis: 40px;
    margin: 0;
  }

  &--column &__label {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
  }

  &__note {
    padding-left: 10px;
    font-size: 12px;

    &--warn {
      @include theme-color($color-warn-red, $color-warn-red);
    }
  }
}
