.live-image {
  display: block;
  width: 160px;
  min-height: 144px;
  background: $color-secondary;
  position: fixed;
  top: -100px;
  right: 0;
  transition: top 300ms ease-in-out;

  &--receiving {
    top: 60px;
  }
}
