.edit-frame-start-line {
  display: grid;
  grid-template-columns: 160px 268px;
  gap: 12px;

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
  }

  &__button {
    margin: 0;
    flex: 60px 0 0;
  }
}
