.edit-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $z-index-overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 480px) {
    justify-content: flex-start;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-tertiary, 0.3);
  }

  &__box {
    width: 480px;
    background: $page-background;
    border-radius: $default-border-radius;
    color: $color-text;
    z-index: $z-index-overlay-box;

    @media (max-width: 480px) {
      width: 100vw;
      min-width: 320px;
      border-radius: 0;
    }
  }

  &__box-content {
    overflow-y: auto;
    overflow-scrolling: touch;
    position: relative;
    max-height: calc(100% - 50px);
    height: calc(100% - 50px);
    padding-bottom: 15px;
    z-index: $z-index-overlay-content;

    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__header {
    display: block;
    padding: 15px 20px 10px;

    &:before {
      position: absolute;
      content: '✎'
    }
  }

  &__header-edit {
    color: inherit;
    border: none;
    width: 100%;
    font-size: 18px;
    background: none;
    padding-left: 25px;
  }

  &__section-title {
    display: block;
    width: 440px;
    line-height: 22px;
    margin: 20px 20px -5px 20px;
    font-size: 18px;
  }

  &__batch-warn {
    position: absolute;
    background-color: white;
    width: 75%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    border: 4px solid;
    font-family: monospace;
    opacity: 0.9;
    font-weight: bold;
  }

  &__batch-update-list {
    font-size: 12px;
  }
}
