.pagination {

  &__button {
    overflow: hidden;
  }

  &__ellipsis {
    flex-basis: 15px;
    @include theme-background-color(transparent, transparent);
    @include theme-color($color-text, $color-text-bright);

    &::before {
      content: '…';
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  &__link {
    display: inline-block;
    border: none;
    width: 100%;
    height: 100%;
    color: inherit;
    background: none;
    text-align: center;
    text-decoration: none;
    line-height: 40px;

    .svg {
      width: 30px;
      height: 30px;
      margin: 5px;
    }

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        @include theme-background-color($color-tertiary, $color-tertiary-dark);
      }
    }
  }
}
