.gallery-group {
  overflow: hidden;

  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    margin-bottom: 8px;
  }

  &__title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: block;
    @include theme-color($color-white, $color-grey-60);
    overflow-wrap: anywhere;
  }

  &__info {
    align-self: flex-end;
    display: block;
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    margin-top: 10px;
    @include theme-color($color-grey-80, $color-grey-40);
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  &__button {
    margin: 0;
    padding: 8px;
  }

  &__image {
    position: relative;
  }

  &__group-marker {
    position: absolute;
    z-index: $z-index-group-marker;
    @include theme-background-color($color-black, $color-black);
    opacity: 55%;
    left: 0;
    bottom: 0;
    transform: rotate(-6deg);
    width: 100%;
    height: 100%;
    transition: transform 150ms ease-in-out;

    & ~ * {
      position: relative;
      z-index: $z-index-group-image;
    }
  }

  &:hover &__group-marker {
    transform: rotate(6deg);
  }
}
