.gallery-image-buttons {
  --button-gap-no-touch: 6px;
  --button-size-no-touch: 28px;

  --button-gap-touch: 12px;
  --button-size-touch: 32px;


  height: 100%;
  width: 100%;
  cursor: default;
  padding: 8px 8px 16px;

  display: grid;
  gap: var(--button-gap-no-touch);

  .gallery--list & {
    grid-template-columns: repeat(8, var(--button-size-no-touch));
    background-image: none;
  }

  .gallery--1x & {
    grid-template-columns: repeat(5, var(--button-size-no-touch));
  }

  .gallery--2x & {
    grid-template-columns: repeat(9, var(--button-size-no-touch));
  }

  .gallery--3x & {
    grid-template-columns: repeat(14, var(--button-size-no-touch));
  }

  .gallery--4x & {
    grid-template-columns: repeat(25, var(--button-size-no-touch));
  }


  body.is-touch & {
    gap: var(--button-gap-touch);

  }

 body.is-touch .gallery--list & {
    grid-template-columns: repeat(8, var(--button-size-no-touch));
  }

  body.is-touch .gallery--1x & {
    grid-template-columns: repeat(4, var(--button-size-no-touch));
  }

  body.is-touch .gallery--2x &,
  body.is-touch .gallery--3x &,
  body.is-touch .gallery--4x & {
    grid-template-columns: repeat(7, var(--button-size-no-touch));
  }

  &__button {
    @include theme-background-color($color-grey-90, $color-grey-30);
    @include theme-color-variable('glow-outline', rgba($color-grey-40, 0.6), rgba($color-black, 0.6));
    @include theme-color($color-tertiary, $color-tertiary-bright);
    box-shadow: 0 0 3px 1px var(--glow-outline);

    width: var(--button-size-no-touch);
    height: var(--button-size-no-touch);
    border: none;
    padding: 0 ;
    cursor: pointer;
    fill: currentColor;
    border-radius: $default-border-radius-small;
    outline: none;

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked,
    &--favourite,
    &:hover {
      .tick {
        opacity: 1;
      }
    }

    &--checked {
      @include theme-color($color-tertiary-bright, $color-tertiary-bright);
      @include theme-background-color($color-tertiary, $color-tertiary);
    }

    &--favourite {
      @include theme-background-color($color-favourite-bg, $color-favourite-bg);
    }

    &:hover {
      @include theme-color($color-white, $color-grey-80);
      @include theme-background-color($color-tertiary, $color-tertiary);
    }
  }

  body.is-touch .gallery-image &__button {
    width: var(--button-size-touch);
    height: var(--button-size-touch);
  }

}


