.gallery-image-buttons {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  padding: 0 10px;

  &__button {
    width: 20px;
    height: 20px;
    border: none;
    background: $color-grey-90;
    margin-right: 5px;
    padding: 0 ;
    cursor: pointer;
    fill: $color-tertiary;
    border-radius: $default-border-radius-small;
    outline: none;

    &--checked {
      fill: $color-grey-90;
      background: $color-tertiary;
    }

    &:hover {
      background: $color-tertiary;
      color: $color-white;
      fill: currentColor;
    }
  }

  body.is-touch .gallery-image &__button {
    width: 30px;
    height: 30px;
  }

}


