.image-meta-form {

  &__datetime {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 8px;
  }

  &__label {
    &--date {
      flex: 59% 1 0;
    }

    &--time {
      flex: 25% 1 0;
    }
  }

  &__label-text {
    display: block;
    line-height: 32px;
  }

  &__date {
    display: block;
    width: 100%;
    height: 40px;
  }

  &__pre {
    flex: 100% 1 0;
    display: block;
    white-space: pre;
    font-family: monospace;
    overflow: auto;
  }
}
