.filter-form {
  $spacing: 5px;

  &__tag-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -$spacing;
    padding: 20px 20px 15px 20px;
  }

  &__tag {
    line-height: 16px;
    background-color: $color-grey-70;
    color: $color-black;
    margin: 0 $spacing 10px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    user-select: none;

    .tick {
      display: none;
    }

    &--active {
      background-color: $color-primary;
      color: $color-text-bright;

      .tick {
        display: block
      }
    }

    &:hover {
      background-color: $color-secondary;
      color: $color-text-bright;
    }
  }

  .svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: currentColor;
  }

  &__tag-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: inherit;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 5px 15px 5px 10px;
    color: inherit;
  }
}
