.printer-report {
  margin-bottom: 30px;

  &__table {
    width: 100%;
    @include theme-background-color($color-grey-70, $color-grey-30);
  }

  tr {
    border-bottom: 1px solid;
    border-top: 1px solid;
    @include theme-border-color($color-grey-60, $color-grey-40)
  }

  td, th {
    padding: 5px 10px;
  }

  &__head {
    font-size: 18px;
  }

  &__label {
    text-align: right;
  }

  &__value {
    text-align: left;

    &--url {
      text-align: right;
      font-size: 12px;
    }
  }

}
