.video-params {
  &__box-content {
    padding: 0 20px 15px;
  }

  &__header {
    margin: 0 -20px 15px;
  }

  &__select-label {
    margin: 25px 0 5px;
    display: block;
  }

  &__check-label {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0;
    user-select: none;

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: currentColor;
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox {
    display: none;
  }

  &__frameexport-select {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    height: 2.5rem;
    margin-bottom: 0.625rem;
    border: 1px solid;
    font-size: 1rem;
    @include theme-border-color($color-grey-50, $color-grey-50);
    @include theme-color($color-black, $color-text-bright);
    @include theme-background-color($color-white, $color-grey-10);
  }
}
