.folder-navi {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40px;
  font-size: 12px;

  &__edit-button,
  &__link {
    @include theme-color($color-text, $color-text-bright);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__edit-button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    padding: 0;
  }

  &__edit-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    @include theme-background-color($color-grey-50, $color-grey-60);
    @include theme-color($color-grey-80, $color-grey-10);
    border-radius: $default-border-radius-small;
  }

  &__segments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  &__entry {
    display: flex;
    gap: 5px;
  }

  &__entry + &__entry:before {
    content: '▷';
  }

  .inputgroup {
    margin-bottom: 0;
  }
}
