.lightbox-image {

  @media (max-width: $breakpoint-mobile) {
    justify-content: center;
  }

  &__backdrop {
    @include theme-background-color(rgba($color-black, 0.9), rgba($color-black, 0.9));
  }

  &__box {
    width: calc(70vh - 80px);
    max-height: calc(100vh - 30px);
    @include theme-background-color($color-page-background, $color-page-background-dark);
    position: relative;
    overflow: visible;

    @media (max-aspect-ratio: 1/1) {
      width: calc(70vw - 80px);
      border-radius: $default-border-radius;
    }
  }

  .lightbox--fullscreen &__box {
    width: calc(95vh - 30px);
    max-height: calc(100vh - 30px);

    @media (max-aspect-ratio: 1/1) {
      width: calc(95vw - 30px);
    }
  }

  &__box-content {
    padding: 0;
    overflow-y: visible;
  }

  &__title {
    display: block;
    padding: 15px 20px 10px;
    min-height: 45px;
  }

  &__button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 3px;
    background: none;
    border: none;
    position: absolute;
    @include theme-color($color-secondary, $color-secondary-bright);
    fill: currentColor;

    &--fullscreen {
      right: 50px;
    }

    &--close {
      right: 5px;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      @include theme-color($color-white, $color-grey-40);
    }
  }


  &__navigation {
    position: absolute;
    top: calc(50% - 23px);
    width: calc(100% + 80px);
    left: -40px;
    height: 46px;
  }

  &__created {
    display: block;
    font-size: 12px;
    text-align: right;
    padding: 15px 20px 10px;
  }
}
