.errors {
  position: fixed;
  top: 80px;
  right: 10px;

  &__item {
    @include theme-background-color($color-button-red, $color-button-red);
    @include theme-color($color-text-bright, $color-text-bright);
    border-radius: $default-border-radius;
    padding: 8px 64px 8px 16px;
    position: relative;
  }

  &__stack {
    max-height: 50px;
    overflow-y: auto;
  }

  &__close-button,
  &__stack-button {
    background: none;
    border: none;
    color: currentColor;
    cursor: pointer;

  }

  &__stack-button {
    font-size: 12px;
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;

    &:hover {
      @include theme-color($color-white, $color-white)
    }

    .svg {
      fill: currentColor;
      width: 16px;
      height: 16px;
    }
  }
}
