.palette-icon {
  display: inline-block;
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;

  &__color {
    float: left;
    width: 50%;
    height: 50%;
  }
}
