.frame-select {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 40px;
  background: none;
  margin-bottom: 10px;
  border: 1px solid;
  @include theme-border-color($color-grey-50, $color-grey-50);
  @include theme-color($color-black, $color-text-bright);
  @include theme-background-color($color-white, $color-grey-10);
  font-size: 16px;
  color: inherit;

  &__select-label {
    margin: 25px 0 5px;
    display: block;
  }

  &__check-label {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0;
    user-select: none;

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      fill: currentColor;
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox {
    display: none;
  }

  &__check-label-text {
    vertical-align: top;
    line-height: 30px;
    height: 30px;
  }

}
