.settings {
  &__inputgroup {
    display: flex;
    min-height: 40px;
    color: $color-text;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 740px) {
      flex-wrap: wrap;
      margin-left: -20px;
    }
  }

  &__label {
    flex-basis: 30%;
    flex-grow: 0;

    @media (max-width: 740px) {
      flex-basis: 100%;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  }

  &__note {
    padding-left: 10px;
    font-size: 12px;

    &--warn {
      color: $color-warn-red;
    }
  }

  &__label-check {
    cursor: pointer;
    background: $color-grey-70;
    flex-grow: 1;
    margin-left: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: $default-border-radius;
    user-select: none;

    &:hover,
    &--selected {
      background: $color-tertiary;
    }

    input {
      display: none;
    }

    @media (max-width: 740px) {
      flex-basis: 20%;
      margin-bottom: 10px;
    }

  }

  &__input {
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid $color-text-bright;
    color: $color-text;

    &--select {
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.3;
    }

    &--password {
      margin-right: 4px;
    }
  }

  &__show-password-button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: currentColor;

    &:hover {
      color: $color-secondary;
    }
  }

  &__check-group {
    .svg {
      width: 30px;
      height: 30px;
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox-wrap {
    cursor: pointer;
    flex: auto 1 1;
    user-select: none;
    margin-left: 20px;
  }

  &__checkbox {
    display: none;
  }

  &__version {
    margin-top: 40px;
    font-size: 12px;
    text-align: right;
    color: $color-grey-60;
    line-height: 14px;
  }
}
