.settings {
  &__input {
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid;
    @include theme-background-color($color-white, $color-black);
    @include theme-border-color($color-grey-70, $color-grey-30);
    @include theme-color($color-text, $color-text-bright);

    &--select {
      font-size: 16px;
    }

    &:disabled {
      opacity: 0.3;
    }

    &--password {
      margin-right: 4px;
    }
  }

  &__show-password-button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    fill: currentColor;
    @include theme-color($color-black, $color-grey-90);

    &:hover {
      @include theme-color($color-secondary, $color-secondary-bright);
    }
  }

  &__version {
    margin-top: 40px;
    font-size: 12px;
    text-align: right;
    @include theme-color($color-grey-60, $color-grey-30);
    line-height: 14px;
  }
}
