.lightbox-image {

  @media (max-width: 480px) {
    justify-content: center;
  }

  &__backdrop {
    background: rgba($color-black, 0.95);
  }

  &__box {
    width: calc(95vh - 80px);
    max-height: calc(100vh - 30px);
    background: $page-background;
    position: relative;
    overflow: visible;

    @media (max-aspect-ratio: 1/1) {
      width: calc(95vw - 80px);
      border-radius: $default-border-radius;
    }
  }

  &__box-content {
    padding: 0;
    overflow-y: visible;
  }

  &__title {
    display: block;
    padding: 15px 20px 10px;
    min-height: 45px;
  }

  &__button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 3px;
    background: none;
    border: none;
    position: absolute;
    fill: $color-secondary;

    &--fullscreen {
      right: 50px;
    }

    &--close {
      right: 5px;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      fill: $color-white;
    }
  }


  &__navigation {
    position: absolute;
    top: calc(50% - 23px);
    width: calc(100% + 80px);
    left: -40px;
    height: 46px;
  }

  &__created {
    display: block;
    font-size: 12px;
    text-align: right;
    padding: 15px 20px 10px;
  }
}
