.app {
  position: relative;

  &__content {
    width: 90vw;
    max-width: 1000px;
    margin: auto;
    padding: 120px 20px 20px 20px;
  }

  &__content-headline {
    font-size: 30px;
    margin-bottom: 30px;
    color: $color-primary;
  }

  &__content-hint {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}
