.app {
  position: relative;
  min-height: 100vh;

  &__content {
    width: 90vw;
    max-width: 1160px;
    margin: auto;
    padding: 120px 20px 20px 20px;
    position: relative;

    @media (max-width: 380px) {
      width: 100%;
    }
  }

  &__content-headline {
    font-size: 30px;
    margin-bottom: 30px;
    @include theme-color($color-primary, $color-primary-bright);

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  &__content-hint {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
  }

  &__counter {
    font-size: 12px;
    padding-left: 10px;
  }

  &__version {
    margin-top: 40px;
    font-size: 12px;
    text-align: right;
    @include theme-color($color-grey-60, $color-grey-30);
    line-height: 14px;
  }
}
