.palettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__headline {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    @include theme-color($color-primary, $color-primary-bright);
  }
}


