.palettes {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    text-align: left;
    vertical-align: middle;
  }

  //&__row {
  //  height: 40px;
  //}
  //
  //&__shortname {
  //  font-size: 12px;
  //  color: $color-text-bright;
  //}
  //
  //&__name {
  //  padding: 0 15px;
  //}
  //
  //&__color {
  //  width: 70px;
  //}
}


