.home {
  @import '~github-markdown-css';

  menu, ol, ul {
    list-style: disc;
  }

  .markdown-body {
    background: $color-page-background;
    padding: 15px;
    border-radius: $default-border-radius;
  }
}
