.layout {
  width: 90vw;
  max-width: 1160px;
  margin: auto;
  padding: 120px 20px 20px 20px;
  position: relative;
  z-index: $z-index-content;
  min-height: 100vh;

  @media (max-width: 380px) {
    width: 100%;
  }

  &__main-headline {
    font-size: 30px;
    margin-bottom: 30px;
    @include theme-color($color-primary, $color-primary-bright);

    &:not(:first-child) {
      margin-top: 60px;
    }
  }
}
