.edit-rgbn {
  &__content {
    padding: 0 20px 10px;
  }

  &__info-text {
    font-size: 14px;
    margin-bottom: 5px;

    &--preview {
      font-size: 11px;
      text-align: center;
    }

    &--warning {
      @include theme-color($color-strong-red, $color-strong-red);
    }
  }

  &__order-list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__order-list-entry {
    flex: auto 1 1;
    display: flex;
    border-radius: $default-border-radius;
    overflow: hidden;

    &--r { @include theme-background-color($color-strong-red, $color-strong-red); }
    &--g { @include theme-background-color($color-strong-green, $color-strong-green); }
    &--b { @include theme-background-color($color-strong-blue, $color-strong-blue); }
    &--n { @include theme-background-color($color-grey-20, $color-grey-20); }

    &--separator {
      @include theme-background-color($color-grey-80, $color-grey-30);
      flex: 2px 0 0;

      & ~ * {
        opacity: 0.2;
      }
    }
  }

  &__order-list-button {
    cursor: pointer;
    border: none;
    background: none;
    @include theme-color($color-black, $color-black);

    &:hover {
      @include theme-background-color(rgba($color-grey-80, 0.5), rgba($color-grey-40, 0.5));
    }
  }

  &__single-image-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 20px;
  }

  &__single-image-list-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 4px;
    border-radius: $default-border-radius;
    @include theme-background-color($color-grey-80, $color-grey-30);

    .gameboy-image {
      width: 80px;
      margin: 0 auto;
      image-rendering: auto;
    }
  }

  &__image-list {
    display: flex;
    overflow-x: auto;
    padding: 8px 0;
  }

  &__image-list-entry {
    flex: 160px 0 0;
  }
}
