.plugin-select {
  @include theme-background-color($color-grey-70, $color-grey-50);
  position: absolute;
  z-index: $z-index-plugin-buttons;
  width: 250px;
  display: none;
  flex-direction: column;
  border-radius: $default-border-radius;
  padding: 4px;
  top: 0;

  &__wrapper {
    position: relative;
  }

  &--active {
    display: flex;
  }

  .gallery-image-buttons & {
    left: 0;
  }

  .batch-buttons & {
    right: 0;
  }

  .gallery-image-buttons &__wrapper {
    height: var(--item-size);
  }

  .batch-buttons &__wrapper {
    width: 40px;
    height: 40px;
    display: block;
  }

  &__plugin-list-entry {
    display: block;
    width: 100%;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .batch-buttons &__button,
  &__button {
    @include theme-color($color-tertiary, $color-tertiary-bright);
    @include theme-background-color($color-grey-90, $color-grey-30);
    @include font;
    font-size: 16px;
    display: block;
    width: 100%;
    border: none;
    border-radius: $default-border-radius-small;
    text-align: left;
    padding: 5px 10px;
    overflow: hidden;
    position: relative;

    &:not(:disabled):hover {
      cursor: pointer;
      @include theme-color($color-white, $color-grey-80);
      @include theme-background-color($color-tertiary, $color-tertiary);
    }

    &:disabled {
      padding-left: 30px;
      cursor: default;
      @include theme-color($color-grey-50, $color-grey-50);
      @include theme-background-color($color-grey-60, $color-grey-40);
    }

    .svg--warn,
    .svg--loading {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      fill: $color-warn-yellow;
    }

    .svg--warn {
      fill: $color-warn-yellow;
    }

    .svg--loading {
      fill: currentColor;
    }
  }

}
