.frame-buttons {
  position: absolute;
  left: -5px;
  top: 5px;
  height: auto;
  z-index: $z-index-gallery-image-buttons;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  padding: 0 10px;

  body.no-touch & {
    display: none;
  }

  &__button {
    width: 20px;
    height: 20px;
    border: none;
    @include theme-background-color($color-grey-90, $color-grey-30);
    margin-right: 5px;
    padding: 0 ;
    cursor: pointer;
    @include theme-color($color-tertiary, $color-tertiary-bright);
    fill: currentColor;
    border-radius: $default-border-radius-small;
    outline: none;

    &:hover {
      @include theme-color($color-white, $color-grey-80);
      @include theme-background-color($color-tertiary, $color-tertiary);
    }
  }

  body.is-touch &__button {
    width: 30px;
    height: 30px;
  }
}


