.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-top: -15px;
  z-index: $z-index-overlay-buttons;
  @include theme-background-image($color-white, $color-grey-10);
  pointer-events: none;
  border-radius: $default-border-radius;

  &__button {
    border: none;
    border-radius: $default-border-radius;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    @include theme-color($color-white, $color-text-bright);
    pointer-events: all;

    &:hover {
      opacity: 0.7;
    }

    &--confirm {
      @include theme-background-color($color-button-green, $color-button-green-dark);
    }

    &--deny {
      @include theme-background-color($color-button-red, $color-button-red-dark);
    }
  }
}
