.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  margin-top: -15px;
  z-index: $z-index-overlay-buttons;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 1) 10px);

  &__button {
    border: none;
    border-radius: $default-border-radius;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    color: $color-white;

    &:hover {
      opacity: 0.7;
    }

    &--confirm {
      background: $color-button-green;
    }

    &--deny {
      background: $color-button-red;
    }
  }
}
