@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.palette-select {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 40px;
  background: none;
  margin-bottom: 10px;
  border: 1px solid;
  @include theme-border-color($color-grey-50, $color-grey-50);
  @include theme-color($color-black, $color-text-bright);
  @include theme-background-color($color-white, $color-grey-10);

  font-size: 16px;
  color: inherit;

  &__check-label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0;
    user-select: none;

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        fill: currentColor;
      }
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox {
    display: none;
  }

  &__check-label-text {
    vertical-align: top;
    line-height: 30px;
    height: 30px;
  }
}

.fancy-palette-select {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: hidden; // prevent jumping because of scrollbar

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  &__entry {
    height: 35px;
    flex: 35px 0 0;
    margin: 2px;
    overflow: hidden;
    border-radius: 50%;

    &--active {
      border: 5px solid;
      @include theme-border-color($color-grey-20, $color-secondary);
    }

    &--active,
    &:hover {
      transform: scale(1.1);
    }

    &:hover .fancy-palette-select__button {
      animation: spin 800ms infinite linear;
    }
  }

  &__button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
  }

  &__color {
    float: left;
    width: 50%;
    height: 50%;
  }
}
