$color-page-background: #d6d3dc;
$color-page-background-dark: #2a292b;

$color-black: #000000;
$color-grey-10: #1a1a1a;
$color-grey-20: #333333;
$color-grey-30: #4c4c4c;
$color-grey-40: #666666;
$color-grey-50: #7f7f7f;
$color-grey-60: #999999;
$color-grey-70: #b2b2b2;
$color-grey-80: #cccccc;
$color-grey-90: #e5e5e5;
$color-white: #ffffff;

$color-text: $color-grey-20;
$color-text-bright: $color-grey-70;

$color-primary: #292037;
$color-secondary: #455c63;
$color-tertiary: #4a6959;

$color-primary-dark: #3d3053;
$color-secondary-dark: #283539;
$color-tertiary-dark: #273931;

$color-primary-bright: #b3acbe;
$color-secondary-bright: #95adb5;
$color-tertiary-bright: #92b1a0;

$color-selected-image-dark: #14385d;
$color-selected-image-dark-hover: #1c4e81;
$color-selected-image: #2260a0;
$color-selected-image-hover: #4c8fd4;

$color-icon-tertiary: #6d9b83;
$color-icon-tertiary-dark: $color-tertiary;

$color-button-green: #3f9e7c;
$color-button-red: #9e3232;
$color-button-green-dark: #1a4838;
$color-button-red-dark: #4f1212;
$color-button-bubble: #2260a0;

$color-tag-change-green: #84ceac;
$color-tag-change-red: #b87778;
$color-tag-change-green-dark: #113026;
$color-tag-change-red-dark: #350c0c;

$color-warn-red: #cb0003;
$color-warn-red-bg: #9e3232;
$color-warn-yellow: #8b7b2c;
$color-warn-yellow-bg: #7e7445;
$color-info-green: #3f9e7c;
$color-info-green-bg: #63a28c;

$color-favourite-bg: #551111;

$color-strong-red: #ff0000;
$color-strong-yellow: #eeee00;
$color-strong-green: #00ff00;
$color-strong-blue: #0000ff;

