@import '~reset-css/sass/reset';

* {
  box-sizing: border-box;
}

@import './generics/app';

.remote-info {
  font-size: 16px;
  margin-bottom: 15px;
  display: none;

  &--ip {
    color: $color-grey-10;

    html.theme-dark & {
      color: $color-grey-90;
    }
  }

  &--em {
    color: $color-strong-red;

    html.theme-dark & {
      color: $color-warn-red;
    }
  }
}

body {
  padding: 20px;
}
