@import '~reset-css/sass/reset';
@import './generic';

.remote-info {
  font-size: 16px;
  margin-bottom: 15px;
  display: none;

  &--ip {
    color: #1a1a1a;

    html.theme-dark & {
      color: #e5e5e5;
    }
  }

  &--em {
    color: #ff0000;

    html.theme-dark & {
      color: #cb0003;
    }
  }
}

body {
  padding: 20px;
}
