.socketstate-indicator {
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  margin: 5px 0 5px 10px;

  &--closed {
    @include theme-background-color($color-strong-red, $color-strong-red);
  }

  &--closing {
    @include theme-background-color($color-strong-yellow, $color-strong-yellow);
  }

  &--open {
    @include theme-background-color($color-strong-green, $color-strong-green);
  }

  &--connecting {
    @include theme-background-color($color-strong-yellow, $color-strong-yellow);
  }

}
