.import-overlay {
  th, td {
    text-align: left;
  }

  &__content {
    margin: 0 20px 20px 20px;
  }

  &__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }
}

.import-image {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__image-zoom {
    flex: 60px 0 0;
    height: 54px;
    position: relative;
  }

  &__image {
    top: 0;
    left: 0;
    width: 60px;
    transition:
      width 150ms ease-in-out,
      left 150ms ease-in-out,
      top 150ms ease-in-out;
    position: absolute;
    pointer-events: none;
  }

  &__image-zoom:hover &__image {
    width: 160px;
    z-index: $z-index-hover-image;
    top: -40px;
    left: -20px;
  }

  &__buttons {
    flex: 90px 0 0;
    display: flex;
    gap: 10px;
  }

  &__meta {
    flex: auto 1 1;
    font-size: 12px;
    padding: 10px 0;
  }

  &__duplicate-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
  }

  &__duplicate-icon {
    @include theme-color($color-warn-yellow, $color-strong-yellow);
    fill: currentcolor;
    width: 24px;
    height: 24px;
    margin-left: -12px;
  }

  &__button {
    @include theme-color($color-white, $color-text-bright);
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: $default-border-radius;

    &--delete {
      @include theme-background-color($color-button-red, $color-button-red-dark);
    }

    &--frame {
      @include theme-background-color($color-button-green, $color-button-green-dark);
    }
  }

  &__icon {
    fill: currentcolor;
  }
}
