.wifi-settings {
  &__button--add {
    padding: 0;
    margin: 0 0 0 20px;
    min-height: 24px;
    width: 24px;
    vertical-align: bottom;
  }

  &__subheadline {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__ap-groups {

  }

  &__ap-group {
    margin-bottom: 40px;

    &--delete {
      .inputgroup__input {
        @include theme-background-color($color-button-red, $color-button-red);
        @include theme-color($color-white, $color-grey-70);
      }
    }

    .inputgroup {
      margin-bottom: 10px;
    }
  }

  &--loading {
    width: 100%;
    padding-top: 200px;
    @extend %LOADER;
  }
}
