.palette {
  $palette-padding: 20px;

  flex-basis: 270px;
  flex-grow: 1;
  position: relative;
  margin: 10px;
  border-radius: $default-border-radius;
  box-shadow: rgba($color-secondary, 0.4) 1px 2px 4px 0;
  background: $color-white;
  transition: transform 100ms ease-in-out;

  &--active {
    background: $color-grey-50;
  }

  &:hover {
    background: $color-grey-50;
    transform: scale(1.025);
  }

  &__button {
    @include font;

    line-height: 2em;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: $palette-padding $palette-padding 70px $palette-padding;
    background: none;
    border: none;
    text-align: left;
  }

  &__name {
    height: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-right: 40px;
  }

  &__shortname {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: $color-secondary;
  }

  &--active &__shortname {
    color: $color-primary;
  }

  &__colors {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - #{$palette-padding * 2});
    bottom: $palette-padding;
  }

  &__color {
    flex-basis: 25%;
    height: 40px;
  }
}

