.video-params {
  &__box-content {
    padding: 0 20px 15px;
  }

  &__header {
    margin: 0 -20px 15px;
  }

  &__select-label {
    margin: 25px 0 5px;
  }

  &__check-label {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    padding: 0;
    user-select: none;

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .tick {
      opacity: $checkmark-tick-inactive-opacity;
    }

    &--checked .tick {
      opacity: 1;
    }
  }

  &__checkbox {
    display: none;
  }
}
